@charset "UTF-8";

body{
    background-color:#f4f9ff;
}

header{
width:1000px;
margin:60px auto 0 auto;

}

header img{
width:160px;
height:18px;
position：absolute;
bottom:0;
}

.mainvisual{
    margin:0 auto 0 auto;
    width:1000px;
}

.index{
    width:1000px;
    padding: 30px 0;
    margin:30px auto 30px auto;
    background-color:white;
}

.index-wrapper{
  margin:0 auto;
  width:600px;

}

h2{
    text-align:left;
}

ul{
    list-style-type: decimal
}

li{
    padding-top:10px;
}

.detail{
    width:600px;
    margin:0 auto;

}

.detail img{
    width:270px;
    height:270px;
    margin-right:60px;
}

.detail-contents1{
    display:flex;
    justify-content:space-between;
    font-size:15px;
}

h4{
    margin:0;
    
    font-size:20px;
}


dl{
    display:flex;
    flex-wrap:wrap;
    border-top:solid 1px #dedede;
    border-bottom:solid 1px #dedede;
}
dt{
    
    width:20%;
}

dd{
    margin:0;
    width:80%;
}

.online-link{
    color:black;
}

footer p{
    width:600px;
    font-size:12px;
    margin:0 auto;
    padding-bottom:20px;
}